@import "../../../assets/variables";

// FCFCFD
.foote {
    width: 100%;
    height: 100px;
    background-color: $white;
    position: fixed;
    z-index: 9999;
    bottom: 0;
}

.footer {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #E2E2E2;

    &__nav {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__list {
            width: 320px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__item {
                position: relative;
                width: 70px;
                z-index: 1;

                &__link {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    font-weight: 500;

                    &__icon {
                        position: relative;
                        display: block;
                        font-size: 1.5rem;
                        text-align: center;
                        line-height: 20px;
                        transition: .5s;
                        color: $black;
                    }

                    &__text {
                        margin-top: .5rem;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 16px;
                        color: $black;
                        transition: .5s;
                    }
                }

                &.active {
                    .footer__nav__list__item__link__text {
                        color: #6347EB;
                    }

                    .footer__nav__list__item__link__icon {
                        transform: translateY(-1.2rem);
                        color: $white;
                    }
                }
            }
        }
    }
}


.indicator {
    position: absolute;
    top: -36px;
    width: 65px;
    height: 65px;
    background-color: #6347EB;
    border-radius: 50%;
    border: .5rem solid $white;
    transition: .5s;

    &::before {
        content: "";
        position: absolute;
        top: 43%;
        left: -30.7px;
        width: 24px;
        height: 30px;
        background-color: transparent;
        border-top-right-radius: 50%;
        box-shadow: 0 -20px 0 0 $white;
    }

    &::after {
        content: "";
        position: absolute;
        top: 43%;
        right: -30.7px;
        width: 24px;
        height: 30px;
        background-color: transparent;
        border-top-left-radius: 50%;
        box-shadow: 0 -20px 0 0 $white;
    }
}

.footer__nav__list__item:nth-child(1).active~.indicator {
    transform: translateX(calc(0));
}

.footer__nav__list__item:nth-child(2).active~.indicator {
    transform: translateX(calc(63.5px * 1));
}

.footer__nav__list__item:nth-child(3).active~.indicator {
    transform: translateX(calc(63.5px * 2));
}

.footer__nav__list__item:nth-child(4).active~.indicator {
    transform: translateX(calc(63.5px * 3));
}

.footer__nav__list__item:nth-child(5).active~.indicator {
    transform: translateX(calc(63.8px * 4));
}