@import "../../../../assets/variables";

.registerSuccessPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 99999;

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        height: 400px;

        &__name {
            position: absolute;
            top: 1.5rem;
            font-size: 26px;
            font-weight: 700;
            line-height: 28px;
            color: $black;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: #3A3A3A;
        }

        button {
            width: 310px;
            height: 40px;
            font-size: 18px;
            font-weight: 700;
            border-radius: 18px;
            border: transparent;
            color: #fff;
            background: #6347EB;
            box-shadow: 4px 8px 10px 0px #00000026;
        }
    }

}