@import "../../../../assets/variables";

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 99999;

    &__items {
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-direction: column;
        text-align: center;

        &__name {
            position: absolute;
            top: 1.5rem;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            color: $black;
        }

        p {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }

        form {
            display: flex;
            align-items: center;
            gap: 1.3rem;
            flex-direction: column;

            input {
                padding-left: 1.3rem;
                font-size: 1rem;
                font-weight: 500;
                width: 310px;
                height: 40px;
                border-radius: 18px;
                box-shadow: 4px 8px 10px 0px #00000026;
            }

            button {
                width: 310px;
                height: 40px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 18px;
                border: transparent;
                color: #fff;
                background: #6347EB;
                box-shadow: 4px 8px 10px 0px #00000026;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;

                    a {
                        color: #6347EB;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}