@import "../../../../assets/variables";

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 99999;

    &__items {
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-direction: column;
        text-align: center;

        &__name {
            font-size: 26px;
            font-weight: 700;
            line-height: 28px;
            color: $black;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }

        form {
            display: flex;
            align-items: center;
            gap: 1.3rem;
            flex-direction: column;

            h3 {
                font-size: 22px;
                color: $black;
                font-weight: 700;
            }

            input {
                padding-left: 1.3rem;
                font-size: 1rem;
                font-weight: 500;
                width: 310px;
                height: 40px;
                border-radius: 18px;
                box-shadow: 4px 8px 10px 0px #00000026;
            }

            button {
                width: 310px;
                height: 40px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 18px;
                border: transparent;
                color: #fff;
                background: #6347EB;
                box-shadow: 4px 8px 10px 0px #00000026;
                position: relative;
                overflow: hidden;
            }

            span {
                position: absolute;
                background-color: $white;
                transform: translate(-50%, -50%);
                pointer-events: none;
                border-radius: 50%;
                animation: ripples 1s linear infinite;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h5 {
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 20px;

                    a {
                        color: #6347EB;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

@keyframes ripples {
    0%{
        width: 0px;
        height: 0px;
        opacity: .5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}