@import "../../../../assets/variables";

.registerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 99999;

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            opacity: 0;
            color: #fff;
            font-size: 1px;
        }

        &__name {
            margin: .1rem 0 1rem;
            font-size: 26px;
            font-weight: 700;
            line-height: 28px;
            color: $black;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }

        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.3rem;

            h3 {
                margin: 1rem 0;
                font-size: 22px;
                font-weight: 700;
                color: $black;
            }

            input {
                padding-left: 1.3rem;
                font-size: 1rem;
                font-weight: 500;
                width: 310px;
                height: 40px;
                border-radius: 18px;
                box-shadow: 4px 8px 10px 0px #00000026;
            }

            button {
                width: 310px;
                height: 40px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 18px;
                border: transparent;
                color: #fff;
                background: #6347EB;
                box-shadow: 4px 8px 10px 0px #00000026;
                position: relative;
                overflow: hidden;
            }

            span {
                position: absolute;
                background-color: $white;
                transform: translate(-50%, -50%);
                pointer-events: none;
                border-radius: 50%;
                animation: ripples 1s linear infinite;
            }
        }
    }
}

@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}