.myContainer{
    width: 440px;
    margin: 0 auto;
    padding: 0 12px;
}

@media (max-width: 768px) {
    .myContainer {
        width: 440px;
    }
}


@media (max-width: 576px) {
    .myContainer {
        width: 100%;
    }
}