@import "../../../assets/variables";

.settingPage {
    margin-bottom: 150px;

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        &__name {
            width: 100%;
            margin-top: 1.5rem;
            margin-bottom: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title {
                font-size: 26px;
                font-weight: 700;
                line-height: 28px;
                color: $black;
            }

            &__add {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        h3 {
            margin: 2rem 0;
            font-size: 22px;
            font-weight: 700;
        }

        form {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1.3rem;
            flex-direction: column;

            input {
                padding-left: 1.3rem;
                font-size: 1rem;
                font-weight: 500;
                width: 310px;
                height: 40px;
                border-radius: 18px;
                box-shadow: 4px 8px 10px 0px #00000026;
            }

            button {
                width: 310px;
                height: 40px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 18px;
                border: transparent;
                color: #fff;
                background: #6347EB;
                box-shadow: 4px 8px 10px 0px #00000026;
                position: relative;
                overflow: hidden;
            }

            span {
                position: absolute;
                background-color: $white;
                transform: translate(-50%, -50%);
                pointer-events: none;
                border-radius: 50%;
                animation: ripples 1s linear infinite;
            }
        }
    }
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        position: relative;
        cursor: pointer;
    }

    b {
        width: 24px;
        height: 24px;
        display: flex;
        position: absolute;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 1.3rem;
        font-weight: 500;
        border: 2px solid #292D32;
        right: 0;
        cursor: pointer;

        p {
            padding: 0;
            margin: 0;
        }
    }
}

.emoji__picker {
    width: 250px;
    display: flex;
    align-items: center;
    z-index: 9;
    gap: .5rem;
    flex-wrap: wrap;
    position: absolute;
    top: 7rem;
    right: 0;
    padding: .5rem;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background-color: #fff;
    box-shadow: 0px 8px 10px 0px #00000026;

    b {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        box-shadow: 4px 4px 10px 0px #00000026;

        cursor: pointer;
        font-size: 19px;
    }
}


@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}